@model GridCollectionItemViewModel

<div class="gridcollection-item" onclick="location.href='@Url.Action("ProductDetails", "Products", new { Id = Model.Id })'">
    <div class="card">
        <div class="card-image">
            @if (Model.Image != null)
            {
                <img src="data:@Model.MimeType;base64,@Convert.ToBase64String(Model.Image)" alt="@Model.Title" />
            }
            <div class="shopping-cart-icon">
                <i class="fa-regular fa-cart-plus"></i>
            </div>
        </div>

        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p>
                Never change a winning team, right? Well, we don’t necessarily think that’s true! Building upon the reputation of two successful...
            </p>
            <div class="posts">
                <h4><a href="@Url.Action("ProductComments", "Products", new { Id = Model.Id })" class="nested-link">POSTS BY ADMIN</a></h4>
                <h4><a href="@Url.Action("ProductComments", "Products", new { Id = Model.Id })" class="nested-link">COMMENTS</a></h4>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $(".nested-link").click(function(e) {
                e.stopPropagation();
            });
        });
    </script>
}
